.correct-pop-up {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.anulated {
    text-align: center;
    width: 500px;
    height: 400px;
    background-color: #e8ecf2;
    border: none;
    position: relative;
    margin: auto;
    position: fixed;
    display: none;
    border-radius: 20px;
    padding: 15px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
    5px 5px 10px rgba(0, 0, 0, 0.25);
}

.anulated p {
    margin-top: 13px;
}

.anulated h1 {
    color: red;
}

.incorrect {
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: #e8ecf2;
    border: none;
    position: relative;
    margin: auto;
    position: fixed;
    display: none;
    border-radius: 20px;
    padding: 15px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
    5px 5px 10px rgba(0, 0, 0, 0.25);
}

.incorrect p {
    margin-top: 13px;
}

.incorrect h1 {
    color: red;
}

.correct p {
    margin-top: 13px;
}

.correct {
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: #e8ecf2;
    border: none;
    position: relative;
    margin: auto;
    position: fixed;
    display: none;
    border-radius: 20px;
    padding: 15px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
    5px 5px 10px rgba(0, 0, 0, 0.25);
}

.alert {
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: #e8ecf2;
    border: none;
    position: relative;
    margin: auto;
    position: fixed;
    display: none;
    border-radius: 20px;
    padding: 15px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
    5px 5px 10px rgba(0, 0, 0, 0.25);
}

.alert h1 {
    color: orange;
}

.alert h3{
    margin-top: 50px;
}

.close {
    position: absolute;
    top: 0px;
    right: 0;
    cursor: pointer;
    font-size: 30px;
    margin-right: 10px;
}

.close:hover {color: red;}