.corpo-index{
    text-align: center;
    padding: 0 15%;
}

.sobre-ita{
    text-align: justify;
}

.sobre-vestibular{
    text-align: justify;
}

.introducao-ita{
    text-align: center;
}

/*.fonte-sobre-ita{
    font-size: 80%;
}*/

.button-simulado{
    font-size: 16px;
    width: 180px;
    color: #15222c;
    background: none;
    margin: 0.5em;
    padding: 1em 2em;  
    border-radius: 5px;
    border-color: #15222c;
    background-color: rgb(206, 187, 19);
    cursor: pointer;
}

.button-nav{
    font-size: 16px;
    width: 130px;
    color: #15222c;
    background: none;
    margin: 0.5em;
    padding: 1em 2em;  
    border-radius: 5px;
    border-color: #15222c;
    background-color: rgb(206, 187, 19);
    cursor: pointer;
}

.sobre-site{
    text-align: justify;
}


