@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    outline: 0;
}

body {
    height: 100vh;
    background-color: #15222c;
    font-family: Noto Sans;
    color: white;
    text-rendering: optimizelegibility; 
    -webkit-font-smoothing: antialiased;
}

body a {
    color: white;
}

.footer {
    background-color: #161b22;

}

.footer a {
    color: white;

}
.footer p {
    padding: 14px 16px;
    text-align: center;
}

.gov-links {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gov-links a {
    margin: 0 30px;
    
}