@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    outline: 0;
}

body {
    height: 100vh;
    background-color: #e8ecf2;
    font-family: Noto Sans;
    color: black;
    text-rendering: optimizelegibility; 
    -webkit-font-smoothing: antialiased;
}

body a {
    color: black;
}

.footer {
    background-color: #b1cbe6;

}

.footer a {
    color: black;

}
.footer p {
    padding: 14px 16px;
    text-align: center;
}

.gov-links {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gov-links a {
    margin: 0 30px;
    
}