
.question-space {
    padding: 0 15%;
}

.phisics-help {
    margin-top: 10px;
    padding: 1%;
}

.chemistry-help {
    margin-top: 10px;
    padding: 1%;
}

.math-help {
    margin-top: 10px;
    padding: 1%;
}

.reference {
    color: gray;
}

.reference a {
    color: gray;
}

.question-text {
    padding: 1%;
    margin-top: 10px;
}

.question-order {
    margin-top: 10px;
    padding: 1%;
}

.navigation-reducted {
    text-align: center;
}

.navigation-reducted button {
    font-size: 14px;
    color: #73787d;
    /*border-color: white;*/
    background: #e8ecf2;
    border: none;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
    5px 5px 10px rgba(0, 0, 0, 0.25);

    margin: 0.5em;
    padding: 0.5em 1em;
    border-radius: 9999px;
    /*transition: background-color 500ms;*/
}

.navigation-reducted button:hover {
    transition: all;
    transition-duration: 250ms;
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
    1px 1px 5px rgba(0, 0, 0, 0.3),
    inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 2px 2px 4px rgba(0, 0, 0, 0.3);
    /*background-color: gray;*/
    cursor: pointer;
    color: black;
}

.buttons-end-correct {
    text-align: center;
}

.button-end-correct {
    font-size: 14px;
    color: #73787d;
    /*border-color: white;*/
    background: #e8ecf2;
    border: none;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
    5px 5px 10px rgba(0, 0, 0, 0.25);

    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 9999px;
    /*transition: background-color 500ms;*/
}

.button-end-correct:hover {
    transition: all;
    transition-duration: 250ms;
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
    1px 1px 5px rgba(0, 0, 0, 0.3),
    inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 2px 2px 4px rgba(0, 0, 0, 0.3);
    /*background-color: gray;*/
    cursor: pointer;
    color: black;
}

.alternatives {
    padding: 14px 16px;
}

.alternatives input {
    margin: 10px 0;
}
