@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

body {
    height: 100vh;
    background-color: #e8ecf2;
    font-family: Noto Sans;
    color: black;
    text-rendering: optimizelegibility; 
    -webkit-font-smoothing: antialiased;
}

.corpo-pagina {
    text-align: center;
    padding: 0;
}

.buttons-nav {
    text-align: center;
}

.button-nav {
    font-size: 16px;
    color: #73787d;
    background: #e8ecf2;
    margin: 0.5em;
    padding: 1em 2em;  
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
    5px 5px 10px rgba(0, 0, 0, 0.25);
}

.button-nav:hover {
    transition: all;
    transition-duration: 250ms;
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
    1px 1px 5px rgba(0, 0, 0, 0.3),
    inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: black;
}

.primeiro-dados-por-inteiro div, .segundo-dados-por-inteiro div{
    border-width: 1%;
    border-style: solid; 
    border-color: rgba(66, 66, 66, 0.6);
    height: 50%;
    width: 60%;
    max-width: 400px;
    max-height: 200px;
    align-items: center;
    margin-top: 2.5%;
    display: inline-table;
}

.primeiro-dados-por-inteiro p, .segundo-dados-por-inteiro p{
    margin: 2.5%;
}

.inteiro-acertos h3, .inteiro-erros h3, 
.inteiro-nao-respondidas h3, .inteiro-respondidas h3{
    font-size: 1.5rem;
}

.inteiro-acertos, .inteiro-nao-respondidas{
    margin-right: 15%;
}

.inteiro-acertos h3{
    background-color: rgb(0, 184, 0);
}

.inteiro-erros h3{
    background-color: rgba(200, 0, 0, 0.87);
}

.inteiro-nao-respondidas h3{
    background-color: rgb(105, 105, 105);
}

.inteiro-respondidas h3{
    background-color: rgb(48, 51, 228);
}

.respondidas-e-naorespondidas{
    margin-bottom: 4%;
}