/* Add a black background color to the top navigation */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
.container {
  /*padding: 0 10%;*/
  font-family: Noto Sans;
  background-color: #b1cbe6;
  background-image: linear-gradient(to bottom right, #527fc4,#e8ecf2);
  overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.container a {
  /*float: left;*/
  color: black;
  text-align: center;
  
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.ita-logo a {
  padding: 0 10%;
  display: flex;
  float: left;
}

.menu-section {
  padding: 0 10%;
  display: flex;  
  /*margin-top: 30px;*/
  height: 76px;
  float: right;
}
  
  /* Change the color of links on hover */
.container a:hover {
  background-color: #b8d9fd;
  color: black;
}
  
  /* Add a color to the active/current link */
.container a.active {
  background-color: #04AA6D;
  color: white;
}