<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Pedro Lucas Nascimento Tavares">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - Vestibular ITA</title>
    <link rel="stylesheet" type="Text/Css" href="../../css/layout.css">
    <link rel="stylesheet" type="Text/Css" href="../../css/topnav.css">
    <link rel="stylesheet" type="Text/Css" href="../../css//index.css">
</head>
<body>

    <header>
        <div class="container">
          <div class="logo">
            <div class="ita-logo">
              <a href="http://www.ita.br/" target="_blank">
                <img src="../../Images/Geral/ita-logo.png" alt="ITA logo" width="200px">
              </a>
            </div>
          </div>
          <div Class = "menu-section">
            <a href="../Principal/index.html">Inicio</a>
            <a href="../Principal/about.html">Sobre</a>
            <a href="../Principal/credits.html">Créditos</a>
            <a href="https://www.vestibular.ita.br/" target="_blank">Vestibular ITA</a>
            <a href="../Perguntas/instrucoes.html">Iniciar Simulado</a>
          </div>
        </div>
      </header>
      <main>
        <div class="corpo-index">
            <div>
              <h2 class="titulo-sobre">Sobre o site</h2>
            </div> <br>
            <div class="sobre-site">

            <p>
              &ThickSpace;&ThickSpace; &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;O <b>Simulado ITA</b> é uma iniciativa desenvolvida por 5 estudantes da Fatec Carapicuíba, sendo os autores deste sistema: Ingrid Ferreira da Silva, Lincoln Gabriel Leão, Max William Fonseca Ferreira, Mikhael Kenji Kakimoto Rivero Garcia e Pedro Lucas Nascimento Tavares, sob orientação da docente Msc. Rita de Cássia Felix e coorientação do docente Msc. Jose Luis Barboza Lobianco para participar do 13° SIMGETEC e para disponibilização via web de um simulado automático da primeira etapa do vestibular ITA que foi realizada em 2022.
            </p>
            <p>
              &ThickSpace;&ThickSpace; &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;O objetivo do site é auxiliar estudantes a se prepararem para as provas do Instituto Tecnológico de Aeronáutica (ITA), oferecendo a possibilidade de aplicar o simulado da edição do ITA de 2022.
            </p>
            <p>
              &ThickSpace;&ThickSpace; &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;Este simulado é destinado a alunos, estudantes ou candidatos que se interessem e queiram ingressar nos cursos oferecidos pelo ITA.
            </p>
            <p>
              &ThickSpace;&ThickSpace; &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;Todas as questões utilizadas neste simulado foram obtidas através do site Vestibular ITA.
            </p>
            <p>
              &ThickSpace;&ThickSpace; &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;O site contém 5 sessões para o usuário navegar, sendo elas: Início, Sobre, Créditos, Vestibular ITA (para entrar no site oficial do vestibular do ITA) e Iniciar Simulado.
            </p>
            <p>
              &ThickSpace;&ThickSpace; &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;Ao usuário iniciar o simulado, aparecerá uma página informando as principais intruções de funcionamento do fluxo do site e funcionalidades de cada objeto que se encontra em cada questão do simulado.
            </p>
            <p>
              &ThickSpace;&ThickSpace; &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;O simulado on-line é composto de 70 questões, contendo 5 alternativas por questão. Ao finalizar o simulado, o usuário será informado sobre seu tempo realizando a prova, total de questões que deixou sem resposta e total de acertos e erros. Essas mesmas informações também estarão disponíveis em formato de gráficos.
            </p>
            </div> <br>
        <div class="responsaveis-site">
            <b>Orientadores/Revisores:</b>
            <br>
            <b>Orientadora:</b>
            <p>Msc. Félix, Rita</p>
            <br>
            <b>Coorientador:</b>
            <p>Msc. Lobianco, José</p>
            <br>
            <b>Revisora:</b>
            <p>Dra BAZZON, Solangea</p>
            <br>
            <b>Autores do Simulado ITA</b>
            <p>
                Silva, Ingrid <br>
                Leão, Lincoln <br>
                Ferreira, Max <br>
                Garcia, Mikhael <br>
                Tavares, Pedro
            </p> <br>
        </div>
        </div>

      </main>

      <footer>
        <div class="footer">
    
          <div class="gov-links">
            <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
              
              <Img Src = "../../Images/Geral/fatec-carapicuiba-logo.png"/>
            </a>
            <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="_blank">
    
              <img src = "../../Images/Geral/logo_ads.png"  height="45px">
            </a>
            <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
              
              <Img Src = "../../Images/Geral/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/>
            </a>
            <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
              
              <Img Src = "../../Images/Geral/cps-logo.png" height="45px" width="80px"/>
            </a>
          </div>
        </div>
      </footer>
    
</body>
</html>