<!DOCTYPE html>
<html lang="pt">
<head>
    
    <meta charset="UTF-8">
    <meta name="author" content="Pedro Lucas Nascimento Tavares">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créditos - Simulado ITA</title>
    <link rel="stylesheet" type="Text/Css" href="../../css/layout.css">
    <link rel="stylesheet" type="Text/Css" href="../../css/topnav.css">
    <link rel="stylesheet" type="Text/Css" href="../../css//index.css">
</head>

<header>
    <div class="container">
      <div class="logo">
        <div class="ita-logo">
          <a href="http://www.ita.br/" target="_blank">
            <img src="../../Images/Geral/ita-logo.png" alt="ITA logo" width="200px">
          </a>
        </div>
      </div>
      <div Class = "menu-section">
        <a href="../Principal/index.html">Inicio</a>
        <a href="../Principal/about.html">Sobre</a>
        <a href="../Principal/credits.html">Créditos</a>
        <a href="https://www.vestibular.ita.br/" target="_blank">Vestibular ITA</a>
        <a href="../Perguntas/instrucoes.html">Iniciar Simulado</a>
      </div>
    </div>
  </header>

  <main>

    <div class="corpo-index">
        <div class="creditos-site">
            <h2>Créditos</h2> <br>

            <b>Prova do Simulado:</b>

            <p>
                A prova original em <i>PDF</i> &VeryThinSpace; foi retirada do site do 
                <a href="../../PDFs/2022_fase1.pdf" target="_blank">
                    Vestibular ITA (Instituto Tecnológico de Aeronáutica)
                </a>
                . Todos os direitos autorais referente as perguntas utilizadas nesse simulado são reservados ao
                <a href="http://www.ita.br/" target="_blank">
                    ITA.
                </a> 
            </p>

            <br> 

            <b>Fatec Carapicuíba:</b>

            <p>
                Por ministrar o curso superior de tecnologia em
                <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="_blank">
                    Análise e Desenvolvimento de Sistemas (ADS).                    
                </a>
            </p>

        </div> <br>

        <div class="responsaveis-site">
            <b>Orientadores/Revisores:</b>
            <br>
            <b>Orientadora:</b>
            <p>Msc. Félix, Rita</p>
            <br>
            <b>Coorientador:</b>
            <p>Msc. Lobianco, José</p>
            <br>
            <b>Revisora:</b>
            <p>Dra Damélio, Helena</p>
            <br>
            <b>Autores do Simulado ITA</b>
            <p>
                Silva, Ingrid <br>
                Leão, Lincoln <br>
                Ferreira, Max <br>
                Garcia, Mikhael <br>
                Tavares, Pedro <br>
            </p>
            <p>Alunos do 1º semestre cursando a disciplina de Programação em Microinformática (PMI).</p><br>
        </div>

    </div>
  </main>

  <footer>
    <div class="footer">

      <div class="gov-links">
        <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
          
          <Img Src = "../../Images/Geral/fatec-carapicuiba-logo.png"/>
        </a>
        <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="_blank">

          <img src = "../../Images/Geral/logo_ads.png"  height="45px">
        </a>
        <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
          
          <Img Src = "../../Images/Geral/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/>
        </a>
        <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
          
          <Img Src = "../../Images/Geral/cps-logo.png" height="45px" width="80px"/>
        </a>
      </div>
    </div>
  </footer>
<body>
    
</body>
</html>