<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Pedro Lucas Nascimento Tavares">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Início - Simulado ITA</title>
  <link rel="stylesheet" type="Text/Css" href="../../css/layout.css">
  <link rel="stylesheet" type="Text/Css" href="../../css/topnav.css">
  <link rel="stylesheet" type="Text/Css" href="../../css//index.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <div class="ita-logo">
          <a href="http://www.ita.br/" target="_blank">
            <img src="../../Images/Geral/ita-logo.png" alt="ITA logo" width="200px">
          </a>
        </div>
      </div>
      <div Class = "menu-section">
        <a href="https://www.vestibular.ita.br/">vestibular ITA</a>
        <a href="../Principal/index.html">Inicio</a>
        <a href="../Principal/about.html">Sobre</a>
        <a href="../Principal/credits.html">Créditos</a>
      </div>
    </div>
  </header>
  <main>
    <div class="corpo-index">
    <div>      
      <h3 class = "introducao-ita">O que é o Vestibular ITA?</h3>     
    </div>   <br>

    <div class = "sobre-ita">
      <p>
        &ThickSpace;&ThickSpace; &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace; O vestibular ITA é o processo seletivo que os estudantes devem realizar para ter acesso aos cursos de graduação no ITA(Instituto Tecnológico de Aeronáutica).

      </p>
      <p>
        &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace; O vestibular é composto por duas fases. A primeira etapa contém 70 questões objetivas de química, física, matemática, português e inglês. Já na segunda fase há questões de matemática, física e química, sendo 10 de cada, e uma redação.
      </p>
      <p>
        &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace; 
      </p>
      
    </div> <br>

    <div class="acesso-simulado">
      <h2>Simulado ITA - (2022)</h2>

        <a href="../Perguntas/Q1_EQ7_ITA.html">
          <input type="button" onclick="window.location.href='../Perguntas/Q1_EQ7_ITA.html';" class="button-simulado" value="Iniciar Simulado">
        </a>
    </div> <br> 

    <div class="acesso-prova-gabarito">
      <h3>Confira a prova do ITA do ano de 2022</h3>
      <p>Utilize os botões para acessar a prova e o gabarito originais em PDF</p>
       
        <input type="button" onclick="window.open('https://www.vestibular.ita.br/provas/2022_fase1.pdf' , '_blank')" class="button-nav" value="Prova">
        
        <input type="button" onclick="window.open('https://www.vestibular.ita.br/provas/gabarito_2022.pdf' , '_blank')" class="button-nav" value="Gabarito">
    </div> <br>
  </div>
  </main>
  <footer>
    <div class="footer">
      <p>
        <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="_blank">
          Curso de Análise e Desenvolvimento de Sistemas (ADS) Fatec Carapicuíba
        </a>
      </p>

      <div class="gov-links">
        <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
          
          <Img Src = "../../Images/Geral/fatec-carapicuiba-logo.png"/>
        </a>
        <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
          
          <Img Src = "../../Images/Geral/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/>
        </a>
        <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
          
          <Img Src = "../../Images/Geral/cps-logo.png" height="45px" width="80px"/>
        </a>
      </div>
    </div>
  </footer>
</body>
</html>