<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Pedro Lucas Nascimento Tavares">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Início - Simulado ITA</title>
  <link rel="stylesheet" type="Text/Css" href="../../css/layout.css">
  <link rel="stylesheet" type="Text/Css" href="../../css/topnav.css">
  <link rel="stylesheet" type="Text/Css" href="../../css//index.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <div class="ita-logo">
          <a href="http://www.ita.br/" target="_blank">
            <img src="../../Images/Geral/ita-logo.png" alt="ITA logo" width="200px">
          </a>
        </div>
      </div>
      <div Class = "menu-section">
        <a href="https://www.vestibular.ita.br/">vestibular ITA</a>
        <a href="../Principal/index.html">Inicio</a>
        <a href="../Principal/about.html">Sobre</a>
        <a href="../Principal/credits.html">Créditos</a>
      </div>
    </div>
  </header>
  <main>
    <div class="index-principal">
    <div>      
        <h3 class = "introducao-ita">O que é o ITA?</h2>     
    </div>   <br>

    <div class = "sobre-ita">
      <p>
        O Instituto Tecnológico de Aeronáutica (ITA) é uma instituição universitária pública ligada ao Comando da Aeronáutica (COMAER). Está localizado no Departamento de Ciência e Tecnologia Aeroespacial (DCTA), na cidade paulista de São José dos Campos. Criado em 1950, por inspiração do Marechal Casimiro Montenegro Filho e intensa cooperação internacional, o ITA é considerado um centro de referência no ensino de engenharia no Brasil. Especializado nas áreas de ciência e tecnologia no Setor Aeroespacial, o ITA oferece cursos de graduação em Engenharia; pós-graduação stricto sensu em nível de Mestrado, Mestrado Profissional e Doutorado; pós-graduação lato sensu de especialização e de extensão.

      </p>
      <p>
        Para realizar os cursos do ITA, deve-se passar pelo processo seletivo da instituição. O vestibular do ITA é composto por duas fases. A primeira etapa contém 60 questões objetivas de química, física, matemática, português e inglês. Já na segunda fase há questões de matemática, física e química, sendo 10 de cada, e uma redação.
      </p>
      <p>
        O objetivo do ITA é ministrar o ensino e a educação necessários à formação de profissionais de nível superior, nas especializações de interesse do campo Aeroespacial, em geral, e do Comando da Aeronáutica, em particular; Promover, através da educação, do ensino e da pesquisa, o progresso das ciências e das tecnologias relacionadas com as atividades aeroespaciais.​
      </p>
      <p class = "fonte-sobre-ita"><i>Fonte:
        <a href="http://www.ita.br/info" target="_blank">
          http://www.ita.br/info
        </a> </i>
      </p>
    </div> <br>

    <div class="acesso-simulado">
      <h2>Simulado ITA - (2022)</h2>

      <a href="../Perguntas/Q1_EQ7_ITA.html">
        <input type="button" class="button-nav" value="Iniciar Simulado">
      </a>
    </div> <br>

    <div class="acesso-prova-gabarito">
      <h3>Confira a prova do ITA do ano de 2022</h3>
      <p>Utilize os botões para acessar a prova e o gabarito originais em PDF</p>
      <a href="../2022_fase1.pdf" target="_blank">
        <input type="button" class="button-nav" value="Prova">
      </a>
      <a href="../gabarito_2022.pdf" target="_blank">
        <input type="button" class="button-nav" value="Gabarito">
      </a> 
    </div>
  </div>
  </main>
  <footer>
    <div class="footer">
      <p>
        <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="_blank">
          Curso de Análise e Desenvolvimento de Sistemas (ADS) Fatec Carapicuíba
        </a>
      </p>

      <div class="gov-links">
        <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
          
          <Img Src = "../../Images/Geral/fatec-carapicuiba-logo.png"/>
        </a>
        <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
          
          <Img Src = "../../Images/Geral/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/>
        </a>
        <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
          
          <Img Src = "../../Images/Geral/cps-logo.png" height="45px" width="80px"/>
        </a>
      </div>
    </div>
  </footer>
</body>
</html>