<!DOCTYPE html>
<html lang="pt-br"> 
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Pedro Lucas Nascimento Tavares">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Início - Simulado ITA</title>
  <link rel="stylesheet" type="Text/Css" href="../../css/layout.css">
  <link rel="stylesheet" type="Text/Css" href="../../css/topnav.css">
  <link rel="stylesheet" type="Text/Css" href="../../css//index.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <div class="ita-logo">
          <a href="http://www.ita.br/" target="_blank">
            <img src="../../Images/Geral/ita-logo.png" alt="ITA logo" width="200px">
          </a>
        </div>
      </div>
      <div Class = "menu-section">
        <a href="../Principal/index.html">Início</a>
        <a href="../Principal/about.html">Sobre</a>
        <a href="../Principal/credits.html">Créditos</a>
        <a href="https://www.vestibular.ita.br/" target="_blank">Vestibular ITA</a>
      </div>
    </div>
  </header>
  <main>
    <div class="corpo-index">

    <div class="sobre-ita">
      <h2 class="introducao-ita">Simulado ITA - Prova aplicada em 2022</h2>
      <br>
      <p>
        &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;Este simulado trata-se de um projeto desenvolvido na disciplina de PMI pelos alunos do 1º semestre do curso de ADS da FATEC Carapicuíba e tem por objetivo automatizar a prova do ITA que foi realizada em 2022 disponibilizada pelo próprio <a href="../../PDFs/2022_fase1.pdf" target="_blank">ITA</a> em PDF. O objtivo desse projeto é fazer com que os candidatos possam testar seus conhecimentos de forma automática através de um site da internet e se prepararem para as próximas provas.
      </p>
      <br>

      <h2 class="introducao-ita">O que é o ITA?</h2>
      <br>
      <p>
        &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace; <i>"O Instituto Tecnológico de Aeronáutica (ITA) é uma instituição universitária pública ligada ao Comando da Aeronáutica (COMAER). Está localizado no Departamento de Ciência e Tecnologia Aeroespacial (DCTA), na cidade paulista de São José dos Campos. Criado em 1950, por inspiração do Marechal Casimiro Montenegro Filho e intensa cooperação internacional, o ITA é considerado um centro de referência no ensino de engenharia no Brasil. Especializado nas áreas de ciência e tecnologia no Setor Aeroespacial, o ITA oferece cursos de graduação em Engenharia; pós-graduação stricto sensu em nível de Mestrado, Mestrado Profissional e Doutorado; pós-graduação lato sensu de especialização e de extensão.
      </p>
      <p>
        &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace; O objetivo do ITA é ministrar o ensino e a educação necessários à formação de profissionais de nível superior, nas especializações de interesse do campo Aeroespacial, em geral, e do Comando da Aeronáutica, em particular; Promover, através da educação, do ensino e da pesquisa, o progresso das ciências e das tecnologias relacionadas com as atividades aeroespaciais.​"</i>
      </p>
      <p class = "fonte-sobre-ita">Fonte: ITA, Disponível em: <i>
        <a href="http://www.ita.br/info" target="_blank">
          http://www.ita.br/info
        </a> </i>
      </p>
    </div>
    <br>

    <div>      
      <h2 class = "introducao-ita">O que é o Vestibular ITA?</h2>     
    </div>   <br>

    <div class = "sobre-vestibular">
      <p>
        &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace; O vestibular ITA é o processo seletivo que os estudantes devem realizar para ter acesso aos cursos de graduação no ITA.

      </p>
      <p>
        &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace; O vestibular é composto por duas fases. A primeira etapa contém 70 questões objetivas de química, física, matemática, português e inglês. Já na segunda fase há questões de matemática, física e química, sendo 10 de cada, e uma redação.
      </p>
      <p>
        &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace; Este site é um simulado da 1ª fase do vestibular, que contém apenas as questões objetivas.
      </p>
      
    </div> <br>

    <div class="acesso-simulado">
      <h2>Simulado ITA - (2022)</h2>

        <!--<a href="../Perguntas/instrucoes.html">-->
          <input type="button" onclick="window.location.href='../Perguntas/instrucoes.html';" class="button-simulado" value="Iniciar Simulado">
        <!--</a>-->
    </div> <br> 

    <div class="acesso-prova-gabarito">
      <h2>Confira a prova do <a href="http://www.ita.br/" target="_blank">ITA</a> do ano de 2022</h2>
      <br>
      <p>Utilize os botões para acessar a prova e o gabarito originais disponibilizados em PDF</p>
       
        <input type="button" onclick="window.open('https://www.vestibular.ita.br/provas/2022_fase1.pdf' , '_blank')" class="button-nav" value="Prova">
        
        <input type="button" onclick="window.open('https://www.vestibular.ita.br/provas/gabarito_2022.pdf' , '_blank')" class="button-nav" value="Gabarito">
    </div> <br>
  </div>
  </main>
  <footer>
    <div class="footer">

      <div class="gov-links">
        <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
          
          <Img Src = "../../Images/Geral/fatec-carapicuiba-logo.png"/>
        </a>
        <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="_blank">

          <img src = "../../Images/Geral/logo_ads.png"  height="45px">
        </a>
        <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
          
          <Img Src = "../../Images/Geral/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/>
        </a>
        <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
          
          <Img Src = "../../Images/Geral/cps-logo.png" height="45px" width="80px"/>
        </a>
      </div>
    </div>
  </footer>
</body>
</html>