.corpo-index{
    text-align: center;
    padding: 0 15%;
}

.sobre-ita{
    text-align: justify;
}


.fonte-sobre-ita{
    font-size: 80%;
}

.button-simulado{
    width: 150px;
    color: #15222c;
    background: none;
    margin: 0.5em;
    padding: 1em 2em;  
    border-radius: 5px;
    border-color: #15222c;
    background-color: rgb(206, 187, 19);
    cursor: pointer;
}

.button-nav{
    width: 108px;
    color: #15222c;
    background: none;
    margin: 0.5em;
    padding: 1em 2em;  
    border-radius: 5px;
    border-color: #15222c;
    background-color: rgb(206, 187, 19);
    cursor: pointer;
}

.sobre-site{
    text-align: justify;
}


