<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="Text/Css" href="../../css/graficos.css">
    <link rel="stylesheet" type="Text/Css" href="../../css/topnav.css">
</head>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<body>
    <header>
        <div class="container">
          <div class="logo">
            <div class="ita-logo">
              <a href="http://www.ita.br/" target="_blank">
                <img src="../../Images/Geral/ita-logo.png" alt="ITA logo" width="200px">
              </a>
            </div>
          </div>
          <div Class = "menu-section">
            <a href="../Principal/index.html">Início</a>
        <a href="../Principal/about.html">Sobre</a>
        <a href="../Principal/credits.html">Créditos</a>
        <a href="https://www.vestibular.ita.br/" target="_blank">Vestibular ITA</a>
          </div>
        </div>
    </header>

    <div class="introducao-graficos">
      <p>
        Temos a seguir gráficos com a quantidade de acertos e erros por questão dos candidatos que já realizaram essa prova. É importante salientar que esses dados são fictícios.
      </p>

    </div>

    <script src="../../js/graficos.js"></script>

    <footer>
      <div class="footer">
  
        <div class="gov-links">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            
            <Img Src = "../../Images/Geral/fatec-carapicuiba-logo.png"/>
          </a>
          <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="_blank">
  
            <img src = "../../Images/Geral/logo_ads.png"  height="45px">
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            
            <Img Src = "../../Images/Geral/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/>
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            
            <Img Src = "../../Images/Geral/cps-logo.png" height="45px" width="80px"/>
          </a>
        </div>
      </div>
    </footer>
</body>
</html>