<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Pedro Lucas Nascimento Tavares">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruções</title>
    <link rel="stylesheet" type="Text/Css" href="../../css/layout.css">
    <link rel="stylesheet" type="Text/Css" href="../../css/topnav.css">
    <link rel="stylesheet" type="Text/Css" href="../../css/instrucoes.css">
  
</head>

<body>

    <header>
        <div class="container">
          <div class="logo">
            <div class="ita-logo">
              <a href="http://www.ita.br/" target="_blank">
                <img src="../../Images/Geral/ita-logo.png" alt="ITA logo" width="200px">
              </a>
            </div>
          </div>
          <div Class = "menu-section">
            <a href="https://www.vestibular.ita.br/">vestibular ITA</a>
            <a href="../Principal/index.html">Inicio</a>
            <a href="../Principal/about.html">Sobre</a>
            <a href="../Principal/credits.html">Créditos</a>
          </div>
        </div>
    </header>

    <main>
        <div class="corpo-instrucoes">
            <div class="instrucoes-simulado">
                <div class="instrucoes-principais">
                    <h2 class="titulo-instrucoes">Instruções</h2>
                    <p>
                        Confira abaixo as instruções de utilização e navegação do Simulado. Após a leitura dos tópicos, você pode clicar no botão <b>Iniciar Simulado</b>, que te levará para a primeira questão. 
                    </p>
                    <br>
                    <p>
                        1) O Simulado contém 70 questões objetivas, com 5 opçõoes de resposta, de A a E.
                    </p>
                    <br>
                    <p>
                        2) O Simulado não tem tempo limite de duração.
                    </p>
                    <br>
                    <p>
                        3) Para responder as questões você deve selecionar uma das alternativas e caso queira 
                        conferir a resposta, clique no botão <b>CORRIGIR</b> - que se encontra abaixo da questão, a direita. Você irá visualizar a resposta correta, informando 
                        se a alternativa escolhida está certa ou errada, e qual é a resposta correta. 
                    </p>
                    <br>
                    <p>
                        4) Você também pode clicar nos botões de navegação das questões, tanto na parte superior separada por matérias, - e as questões de cada uma - quanto na parte inferior, clicando em algum dos botõesm será redirecionado para a opção escolhida.
                    </p>
                    <br>
                    <p>
                        5) Todas as respostas objetivas serão contabilizadas assim que você clicar no 
                        botão <b>FINALIZAR</b> - que se encontra abaixo da questão a esquerda. Será exibido a quantidade total de acertos e erros e mais outros dados.
                    </p>
                    <br>
                    <p>
                        6) Caso você já tenha realizado o simulado pelo menos uma vez, ao clicar no botão <b>FINALIZAR</b>
                        sem ter respondido nenhuma pergunta, você será redirecionado para a página de Resultado onde irá conferir os dados do simulado realizado anteriormente.
                    </p>
                </div>
            </div>
            <div class="instrucoes-finais">
              <h2>Boa sorte!</h2>
              <a href="../../Views/Perguntas/Q1_EQ7_ITA.html">
                <input type="button" class="button-nav" value="Iniciar Simulado">
              </a>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer">
          <p>
            <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="_blank">
              Curso de Análise e Desenvolvimento de Sistemas (ADS) Fatec Carapicuíba
            </a>
          </p>
    
          <div class="gov-links">
            <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
              
              <Img Src = "../../Images/Geral/fatec-carapicuiba-logo.png"/>
            </a>
            <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
              
              <Img Src = "../../Images/Geral/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/>
            </a>
            <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
              
              <Img Src = "../../Images/Geral/cps-logo.png" height="45px" width="80px"/>
            </a>
          </div>
        </div>
    </footer>
    
</body>
</html>