<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Pedro Lucas Nascimento Tavares">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruções </title></title>
    <link rel="stylesheet" type="Text/Css" href="../../css/layout.css">
    <link rel="stylesheet" type="Text/Css" href="../../css/topnav.css">
    <link rel="stylesheet" type="Text/Css" href="../../css/instrucoes.css">
  
</head>

<body>

    <header>
        <div class="container">
          <div class="logo">
            <div class="ita-logo">
              <a href="http://www.ita.br/" target="_blank">
                <img src="../../Images/Geral/ita-logo.png" alt="ITA logo" width="200px">
              </a>
            </div>
          </div>
          <div Class = "menu-section">
            <a href="../Principal/index.html">Início</a>
        <a href="../Principal/about.html">Sobre</a>
        <a href="../Principal/credits.html">Créditos</a>
        <a href="https://www.vestibular.ita.br/" target="_blank">Vestibular ITA</a>
          </div>
        </div>
    </header>

    <main>
        <div class="corpo-instrucoes">
            <div class="instrucoes-simulado">
                <div class="instrucoes-principais">
                    <h2 class="titulo-instrucoes">Instruções</h2>
                    <p>
                    <br>  
                        Confira abaixo as instruções de utilização e navegação do Simulado. Após a leitura dos tópicos, você pode clicar no botão <b>Iniciar Simulado</b>, que te levará para a primeira questão. 
                    </br>
                      </p>
                    <br>
                    <p>
                        1) O Simulado contém 70 questões objetivas, com 5 opções de resposta, de A a E.
                    </p>
                    <br>
                    <p>
                        2) Não existe tempo limite de duração.
                    </p>
                    <br>
                    <p>
                        3) Para responder as questões você deve selecionar uma das alternativas e caso queira 
                        conferir a resposta, clique no botão <b>CORRIGIR</b> - que se encontra abaixo da questão, a direita. Você irá visualizar a resposta correta, informando 
                        se a alternativa escolhida está certa ou errada, e qual é a resposta correta. 
                    </p>
                    <br>
                    <p>
                        4) Você também pode clicar nos botões de navegação das questões, na parte superior (separada por matérias e questões) ou na parte inferior(separada apenas por questões). Clicando em algum dos botões, será redirecionado para a opção escolhida.
                    </p>
                    <br>
                    <p>
                        5) Todas as respostas objetivas serão contabilizadas assim que você clicar no 
                        botão <b>FINALIZAR</b> - que se encontra abaixo da questão a esquerda. Será exibido a quantidade total de acertos e erros e mais outros dados.
                    </p>
                    <br>
                    <p>
                        6) Ao finalizar a prova, que não tem tempo limitado, você será redirecionado para a página de resultados, na qual você irá visualizar o total de acertos e erros das questões, assim como um gráfico representado uma relação de acertos e erros das suas respostas.
                        Na página de resultados se pode também, analisar as estatísticas, ou seja, o total de acertos e erros referentes a cada uma das questões, basta clicar no botão <b>Estatísticas</b>.
                    </p>
                    <br>
                    <p>
                        7) AVISO: Segundo as normas de aplicação das provas do ITA, consta que "As questões 03, 08, 24 e 60 foram anuladas devido a erros de digitação. Para efeito de pontuação, estas questões foram consideradas corretas para todos os candidatos". Portanto, neste simulado, as questões 3, 8, 24 e 60 serão contabilizadas como acerto, de forma a respeitar a aplicação do simulado da prova do ITA.
                        <p>
                          Fonte: <a href="../../PDFs/gabarito_2022.pdf" target="_blank">
                            https://www.vestibular.ita.br/provas/gabarito_2022.pdf
                          </a>

                        </p>
                    </p>
                </div>
            </div>
            <div class="instrucoes-finais">
              <h2>Boa sorte!</h2>
              <a href="../../Views/Perguntas/Q1_EQ7_ITA.html">
                <input type="button" class="button-nav" value="Iniciar Simulado">
              </a>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer">
          <p>
            <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="_blank">
              Curso de Análise e Desenvolvimento de Sistemas (ADS) - Fatec Carapicuíba
            </a>
          </p>
    
          <div class="gov-links">
            <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
              
              <Img Src = "../../Images/Geral/fatec-carapicuiba-logo.png"/>
            </a>
            <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
              
              <Img Src = "../../Images/Geral/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/>
            </a>
            <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
              
              <Img Src = "../../Images/Geral/cps-logo.png" height="45px" width="80px"/>
            </a>
          </div>
        </div>
    </footer>
    
</body>
</html>