<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="Author" content="Max William Fonseca Ferreira"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Inglês - Questão 38 ITA</title>
    <link rel="stylesheet" type="Text/Css" href="../../css/layout.css">
    <link rel="stylesheet" type="Text/Css" href="../../css/navigationMenu.css">
    <link rel="stylesheet" type="Text/Css" href="../../css/topnav.css">
    <link rel="stylesheet" type="Text/Css" href="../../css/question.css">
  </head>

  <body id="Q38">
    <header>
      <div class="container">
        <div class="logo">
          <div class="ita-logo">
            <a href="http://www.ita.br/" target="_blank">
              <img src="../../Images/Geral/ita-logo.png" alt="ITA logo" width="200px">
            </a>
          </div>
          
        </div>
        <div Class = "menu-section">
          <a href="../Principal/index.html">Inicio</a>
          <a href="../Principal/about.html">Sobre</a>
          <a href="../Principal/credits.html">Créditos</a>
          <a href="https://www.vestibular.ita.br/" target="_blank">Vestibular ITA</a>
        </div>
      </div>
    </header>

    <main>
      <!--divisão do corpo da pagina onde vai ter a questão-->
      <div class="question-page">
        
        <div class="navigation">
          <!-- Tab links -->
          <div class="tab">
            <button class="tablinks" onclick="openSubject(event, 'fisica')">Física</button>
            <button class="tablinks" onclick="openSubject(event, 'portugues')">Português</button>
            <button class="tablinks" onclick="openSubject(event, 'ingles')">inglês</button>
            <button class="tablinks" onclick="openSubject(event, 'matematica')">Matemática</button>
            <button class="tablinks" onclick="openSubject(event, 'quimica')">Química</button>
          </div>

          <!-- Tab content -->
           
            <div id="fisica" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <a href="Q1_EQ7_ITA.html"><button>01</button></a>
              <a href="Q2_EQ7_ITA.html"><button>02</button></a>
              <a href="Q3_EQ7_ITA.html"><button>03</button></a>
              <a href="Q4_EQ7_ITA.html"><button>04</button></a>
              <a href="Q5_EQ7_ITA.html"><button>05</button></a>
              <a href="Q6_EQ7_ITA.html"><button>06</button></a>
              <a href="Q7_EQ7_ITA.html"><button>07</button></a>
              <a href="Q8_EQ7_ITA.html"><button>08</button></a>
              <a href="Q9_EQ7_ITA.html"><button>09</button></a>
              <a href="Q10_EQ7_ITA.html"><button>10</button></a>
              <a href="Q11_EQ7_ITA.html"><button>11</button></a>
              <a href="Q12_EQ7_ITA.html"><button>12</button></a>
              <a href="Q13_EQ7_ITA.html"><button>13</button></a>
              <a href="Q14_EQ7_ITA.html"><button>14</button></a>
              <a href="Q15_EQ7_ITA.html"><button>15</button></a>
            </div>
           
          
           
            <div id="portugues" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <a href="Q16_EQ7_ITA.html"><button>16</button></a>
              <a href="Q17_EQ7_ITA.html"><button>17</button></a>
              <a href="Q18_EQ7_ITA.html"><button>18</button></a>
              <a href="Q19_EQ7_ITA.html"><button>19</button></a>
              <a href="Q20_EQ7_ITA.html"><button>20</button></a>
              <a href="Q21_EQ7_ITA.html"><button>21</button></a>
              <a href="Q22_EQ7_ITA.html"><button>22</button></a>
              <a href="Q23_EQ7_ITA.html"><button>23</button></a>
              <a href="Q24_EQ7_ITA.html"><button>24</button></a>
              <a href="Q25_EQ7_ITA.html"><button>25</button></a>
              <a href="Q26_EQ7_ITA.html"><button>26</button></a>
              <a href="Q27_EQ7_ITA.html"><button>27</button></a>
              <a href="Q28_EQ7_ITA.html"><button>28</button></a>
              <a href="Q29_EQ7_ITA.html"><button>29</button></a>
              <a href="Q30_EQ7_ITA.html"><button>30</button></a>
            </div>
           
          
           
            <div id="ingles" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <a href="Q31_EQ7_ITA.html"><button>31</button></a>
              <a href="Q32_EQ7_ITA.html"><button>32</button></a>
              <a href="Q33_EQ7_ITA.html"><button>33</button></a>
              <a href="Q34_EQ7_ITA.html"><button>34</button></a>
              <a href="Q35_EQ7_ITA.html"><button>35</button></a>
              <a href="Q36_EQ7_ITA.html"><button>36</button></a>
              <a href="Q37_EQ7_ITA.html"><button>37</button></a>
              <a href="Q38_EQ7_ITA.html"><button>38</button></a>
              <a href="Q39_EQ7_ITA.html"><button>39</button></a>
              <a href="Q40_EQ7_ITA.html"><button>40</button></a>
            </div>
           
          
           
            <div id="matematica" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <a href="Q41_EQ7_ITA.html"><button>41</button></a>
              <a href="Q42_EQ7_ITA.html"><button>42</button></a>
              <a href="Q43_EQ7_ITA.html"><button>43</button></a>
              <a href="Q44_EQ7_ITA.html"><button>44</button></a>
              <a href="Q45_EQ7_ITA.html"><button>45</button></a>
              <a href="Q46_EQ7_ITA.html"><button>46</button></a>
              <a href="Q47_EQ7_ITA.html"><button>47</button></a>
              <a href="Q48_EQ7_ITA.html"><button>48</button></a>
              <a href="Q49_EQ7_ITA.html"><button>49</button></a>
              <a href="Q50_EQ7_ITA.html"><button>50</button></a>
              <a href="Q51_EQ7_ITA.html"><button>51</button></a>
              <a href="Q52_EQ7_ITA.html"><button>52</button></a>
              <a href="Q53_EQ7_ITA.html"><button>53</button></a>
              <a href="Q54_EQ7_ITA.html"><button>54</button></a>
              <a href="Q55_EQ7_ITA.html"><button>55</button></a>
            </div>
           
          
           
            <div id="quimica" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <a href="Q56_EQ7_ITA.html"><button>56</button></a>
              <a href="Q57_EQ7_ITA.html"><button>57</button></a>
              <a href="Q58_EQ7_ITA.html"><button>58</button></a>
              <a href="Q59_EQ7_ITA.html"><button>59</button></a>
              <a href="Q60_EQ7_ITA.html"><button>60</button></a>
              <a href="Q61_EQ7_ITA.html"><button>61</button></a>
              <a href="Q62_EQ7_ITA.html"><button>62</button></a>
              <a href="Q63_EQ7_ITA.html"><button>63</button></a>
              <a href="Q64_EQ7_ITA.html"><button>64</button></a>
              <a href="Q65_EQ7_ITA.html"><button>65</button></a>
              <a href="Q66_EQ7_ITA.html"><button>66</button></a>
              <a href="Q67_EQ7_ITA.html"><button>67</button></a>
              <a href="Q68_EQ7_ITA.html"><button>68</button></a>
              <a href="Q69_EQ7_ITA.html"><button>69</button></a>
              <a href="Q70_EQ7_ITA.html"><button>70</button></a>
            </div>
           
          
        </div>
        <div class="question-space">
          <!--hiperlink pra o pdf da prova online pelo ITA-->
          <div class="subject-number-question">
            <strong>
              <a href="https://www.vestibular.ita.br/provas/2022_fase1.pdf" target="_blank">
                Simulado ITA 2022 - Inglês Questão 8/10
              </a>
            </strong>
          </div>
          <!--texto da questão-->
          <div class="question-text">
            <p>
                <strong>Leia o texto destacado para responder às questões 38 a 40.</strong>
            </p>
            <p>
                Meritocracy has become a leading social ideal. Politicians across the ideological spectrum
                continually return to the theme that the rewards of life—money, power, jobs, university
                admission—should be distributed according to skill and effort. The most common metaphor is the
                ‘even playing field’ upon which players can rise to the position that fits their merit. Conceptually
                and morally, meritocracy is presented as the opposite of systems such as hereditary aristocracy, in
                which one’s social position is determined by the lottery of birth. Under meritocracy, wealth and
                advantage are merit’s rightful compensation, not the fortuitous windfall of external events. And
                most people don’t just think the world should be run meritocratically, they think it is
                meritocratic. However, although widely held, the belief that merit rather than luck determines
                success or failure in the world is demonstrably false. This is not least because merit itself is, in
                large part, the result of luck. Talent and the capacity for determined effort, sometimes called
                ‘grit’, depend a great deal on one’s genetic endowments and upbringing.
                Perhaps more disturbing, simply holding meritocracy as a value seems to promote discriminatory
                behaviour. The management scholar Emilio Castilla at the Massachusetts Institute of Technology
                and the sociologist Stephen Benard at Indiana University studied attempts to implement
                meritocratic practices, such as performance-based compensation in private companies. They found
                that, in companies that explicitly held meritocracy as a core value, managers assigned greater
                rewards to male employees over female employees with identical performance evaluations. This
                preference disappeared where meritocracy was not explicitly adopted as a value.
                This is surprising because impartiality is the core of meritocracy’s moral appeal. The ‘even
                playing field’ is intended to avoid unfair inequalities based on gender, race and the like. Yet 
            </p>
            <p>
                <strong>Fonte:</strong>   https://bigthink.com/. Publicado em 23/03/2019. Acesso em 20/08/2021. Adaptado.
            </p>
            <p>
              <strong>Questão 38.</strong>  According to the first paragraph, one of the supporting arguments for meritocracy is:                
            </p>
            <br>
            <p class="reference">
              Fonte: <a href="https://www.vestibular.ita.br/provas/2022_fase1.pdf">https://www.vestibular.ita.br/provas/2022_fase1.pdf</a>
            </p>
          </div>
          <!--alternativas-->
          <div class="alternatives">
            
                <span>
                    <input type="radio" name="question-38" value="A"> A) since meritocracy resembles the species selection process, it has a biological nature.
                </span><br>
                <span>
                    <input type="radio" name="question-38" value="B"> B) effort and developed ability will be rewarded, so meritocracy is an unbiased ideological ideal.
                </span><br>
                <span>
                    <input type="radio" name="question-38" value="C"> C) meritocracy is based on the concept of self-made fortunate man.
                </span><br>
                <span>
                    <input type="radio" name="question-38" value="D"> D) skill and effort are determined by fortuitous opportunities that should be identified.                     
                </span><br>
                <span>
                    <input type="radio" name="question-38" value="E"> E) heredity should play a decisive part for a successful outcome. 
                </span><br>
            
            
          </div>
          <!--botões ultima, proxima e questões depois-->
           
            <div class="navigation-reducted">
              <a href="Q37_EQ7_ITA.html"><button><</button></a>
              <a href="Q39_EQ7_ITA.html"><button>39</button></a>
              <a href="Q40_EQ7_ITA.html"><button>40</button></a>
              <a href="Q41_EQ7_ITA.html"><button>41</button></a>
              <a href="Q42_EQ7_ITA.html"><button>42</button></a>
              <a href="Q39_EQ7_ITA.html"><button>></button></a>
            </div>
           

           
            <!--botões finalizar e corrigir-->
            <div class="buttons-end-correct">
              <input type="button" class="button-end-correct" value="finalizar" onclick="saveresult()">
              <input type="button" class="button-end-correct" value="corrigir" onclick="testanswer()">
            </div>
           
          
        </div>
      </div>
    </main>

    <footer>
      <div class="footer">
        <p>
          <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="_blank">
            Curso de Análise e Desenvolvimento de Sistemas (ADS) Fatec Carapicuíba
          </a>
        </p>

        <div class="gov-links">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            
            <Img Src = "../../Images/Geral/fatec-carapicuiba-logo.png"/>
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            
            <Img Src = "../../Images/Geral/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/>
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            
            <Img Src = "../../Images/Geral/cps-logo.png" height="45px" width="80px"/>
          </a>
        </div>
      </div>
    </footer>
    <script src="../../js/menuAni.js"></script>
  </body>
</html>