<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="Author" content="Max William Fonseca Ferreira"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Química - Questão 69 ITA</title>
    <link rel="stylesheet" type="Text/Css" href="../../css/layout.css">
    <link rel="stylesheet" type="Text/Css" href="../../css/navigationMenu.css">
    <link rel="stylesheet" type="Text/Css" href="../../css/topnav.css">
    <link rel="stylesheet" type="Text/Css" href="../../css/question.css">
  </head>

  <body id="Q69">
    <header>
      <div class="container">
        <div class="logo">
          <div class="ita-logo">
            <a href="http://www.ita.br/" target="_blank">
              <img src="../../Images/Geral/ita-logo.png" alt="ITA logo" width="200px">
            </a>
          </div>
          
        </div>
        <div Class = "menu-section">
            <a href="../Principal/index.html">Inicio</a>
            <a href="../Principal/about.html">Sobre</a>
            <a href="../Principal/credits.html">Créditos</a>
            <a href="https://www.vestibular.ita.br/" target="_blank">Vestibular ITA</a>
        </div>
      </div>
    </header>

    <main>
      <!--divisão do corpo da pagina onde vai ter a questão-->
      <div class="question-page">
        
        <div class="navigation">
          <!-- Tab links -->
          <div class="tab">
            <button class="tablinks" onclick="openSubject(event, 'fisica')">Física</button>
            <button class="tablinks" onclick="openSubject(event, 'portugues')">Português</button>
            <button class="tablinks" onclick="openSubject(event, 'ingles')">inglês</button>
            <button class="tablinks" onclick="openSubject(event, 'matematica')">Matemática</button>
            <button class="tablinks" onclick="openSubject(event, 'quimica')">Química</button>
          </div>

          <!-- Tab content -->
          <center>
            <div id="fisica" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <a href="Q1_EQ7_ITA.html"><button>01</button></a>
              <a href="Q2_EQ7_ITA.html"><button>02</button></a>
              <a href="Q3_EQ7_ITA.html"><button>03</button></a>
              <a href="Q4_EQ7_ITA.html"><button>04</button></a>
              <a href="Q5_EQ7_ITA.html"><button>05</button></a>
              <a href="Q6_EQ7_ITA.html"><button>06</button></a>
              <a href="Q7_EQ7_ITA.html"><button>07</button></a>
              <a href="Q8_EQ7_ITA.html"><button>08</button></a>
              <a href="Q9_EQ7_ITA.html"><button>09</button></a>
              <a href="Q10_EQ7_ITA.html"><button>10</button></a>
              <a href="Q11_EQ7_ITA.html"><button>11</button></a>
              <a href="Q12_EQ7_ITA.html"><button>12</button></a>
              <a href="Q13_EQ7_ITA.html"><button>13</button></a>
              <a href="Q14_EQ7_ITA.html"><button>14</button></a>
              <a href="Q15_EQ7_ITA.html"><button>15</button></a>
            </div>
          </center>
          
          <center>
            <div id="portugues" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <a href="Q16_EQ7_ITA.html"><button>16</button></a>
              <a href="Q17_EQ7_ITA.html"><button>17</button></a>
              <a href="Q18_EQ7_ITA.html"><button>18</button></a>
              <a href="Q19_EQ7_ITA.html"><button>19</button></a>
              <a href="Q20_EQ7_ITA.html"><button>20</button></a>
              <a href="Q21_EQ7_ITA.html"><button>21</button></a>
              <a href="Q22_EQ7_ITA.html"><button>22</button></a>
              <a href="Q23_EQ7_ITA.html"><button>23</button></a>
              <a href="Q24_EQ7_ITA.html"><button>24</button></a>
              <a href="Q25_EQ7_ITA.html"><button>25</button></a>
              <a href="Q26_EQ7_ITA.html"><button>26</button></a>
              <a href="Q27_EQ7_ITA.html"><button>27</button></a>
              <a href="Q28_EQ7_ITA.html"><button>28</button></a>
              <a href="Q29_EQ7_ITA.html"><button>29</button></a>
              <a href="Q30_EQ7_ITA.html"><button>30</button></a>
            </div>
          </center>
          
          <center>
            <div id="ingles" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <a href="Q31_EQ7_ITA.html"><button>31</button></a>
              <a href="Q32_EQ7_ITA.html"><button>32</button></a>
              <a href="Q33_EQ7_ITA.html"><button>33</button></a>
              <a href="Q34_EQ7_ITA.html"><button>34</button></a>
              <a href="Q35_EQ7_ITA.html"><button>35</button></a>
              <a href="Q36_EQ7_ITA.html"><button>36</button></a>
              <a href="Q37_EQ7_ITA.html"><button>37</button></a>
              <a href="Q38_EQ7_ITA.html"><button>38</button></a>
              <a href="Q39_EQ7_ITA.html"><button>39</button></a>
              <a href="Q40_EQ7_ITA.html"><button>40</button></a>
            </div>
          </center>
          
          <center>
            <div id="matematica" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <a href="Q41_EQ7_ITA.html"><button>41</button></a>
              <a href="Q42_EQ7_ITA.html"><button>42</button></a>
              <a href="Q43_EQ7_ITA.html"><button>43</button></a>
              <a href="Q44_EQ7_ITA.html"><button>44</button></a>
              <a href="Q45_EQ7_ITA.html"><button>45</button></a>
              <a href="Q46_EQ7_ITA.html"><button>46</button></a>
              <a href="Q47_EQ7_ITA.html"><button>47</button></a>
              <a href="Q48_EQ7_ITA.html"><button>48</button></a>
              <a href="Q49_EQ7_ITA.html"><button>49</button></a>
              <a href="Q50_EQ7_ITA.html"><button>50</button></a>
              <a href="Q51_EQ7_ITA.html"><button>51</button></a>
              <a href="Q52_EQ7_ITA.html"><button>52</button></a>
              <a href="Q53_EQ7_ITA.html"><button>53</button></a>
              <a href="Q54_EQ7_ITA.html"><button>54</button></a>
              <a href="Q55_EQ7_ITA.html"><button>55</button></a>
            </div>
          </center>
          
          <center>
            <div id="quimica" class="tabcontent">
              <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
              <a href="Q56_EQ7_ITA.html"><button>56</button></a>
              <a href="Q57_EQ7_ITA.html"><button>57</button></a>
              <a href="Q58_EQ7_ITA.html"><button>58</button></a>
              <a href="Q59_EQ7_ITA.html"><button>59</button></a>
              <a href="Q60_EQ7_ITA.html"><button>60</button></a>
              <a href="Q61_EQ7_ITA.html"><button>61</button></a>
              <a href="Q62_EQ7_ITA.html"><button>62</button></a>
              <a href="Q63_EQ7_ITA.html"><button>63</button></a>
              <a href="Q64_EQ7_ITA.html"><button>64</button></a>
              <a href="Q65_EQ7_ITA.html"><button>65</button></a>
              <a href="Q66_EQ7_ITA.html"><button>66</button></a>
              <a href="Q67_EQ7_ITA.html"><button>67</button></a>
              <a href="Q68_EQ7_ITA.html"><button>68</button></a>
              <a href="Q69_EQ7_ITA.html"><button>69</button></a>
              <a href="Q70_EQ7_ITA.html"><button>70</button></a>
            </div>
          </center>
          
        </div>
        <div class="question-space">
          <!--hiperlink pra o pdf da prova online pelo ITA-->
          <div class="subject-number-question">
            <strong>
              <a href="https://www.vestibular.ita.br/provas/2022_fase1.pdf" target="_blank">
                Simulado ITA 2022 - Química Questão 14/15
              </a>
            </strong>
          </div>
          <div class="chemistry-help">
            <p>
              <strong>Constantes</strong><br>
            </p>
            <p>
                Constante de Avogadro (N<sub>A</sub>) = 6,02 &times; 10<sup>23</sup> mol<sup>-1</sup><br>
                Constante de Faraday (F) = 9,65 &times; 10<sup>4</sup> C<sup>.</sup>mol<sup>-1</sup> = 9,65 &times; 10<sup>4</sup> A<sup>.</sup>s<sup>.</sup>mol<sup>-1</sup> = 9,65 &times; 10<sup>4</sup> J<sup>.</sup>V<sup>-1</sup><sup>.</sup>mol<sup>-1</sup><br>
                Carga elementar = 1,60 &times; 10<sup>-19</sup> C<br>
                Constante dos gases (R) = 8,21 &times; 10<sup>-2</sup> atm<sup>.</sup>L<sup>.</sup>K<sup>-1</sup><sup>.</sup>mol<sup>-1</sup> = 8,31 J<sup>.</sup>K<sup>-1</sup><sup>.</sup>mol<sup>-1</sup> = 1,98 cal<sup>.</sup>K<sup>-1</sup><sup>.</sup>mol<sup>-1</sup><br>
                Constante de Planck (h) = 6,63 &times; 10<sup>-34</sup> J<sup>.</sup>s<br>
                Velocidade da luz no vácuo = 3,0 &times; 10<sup>8</sup> m<sup>.</sup>s<sup>-1</sup><br>
                Número de Euler (e) = 2,72<br>
            </p>
            <p>
                <strong>Definições</strong><br>
            </p>
            <p>
                Pressão: 1 atm = 760 mmHg = 1,01325 &times; 10<sup>5</sup> N<sup>.</sup>m<sup>-2</sup> = 1,01325 bar<br>
                Energia: 1 J = 1 N<sup>.</sup>m = 1 kg<sup>.</sup>m<sup>2</sup><sup>.</sup>s<sup>-2</sup> = 6,24 &times; 10<sup>18</sup> eV<br>
                Condições normais de temperatura e pressão (CNTP): 0 °C e 1 atm<br>
                Condições ambientes: 25 °C e 1 atm<br>
                Condições padrão: 1 bar; concentração das soluções = 1 mol<sup>.</sup>L<sup>-1</sup> (rigorosamente: atividade unitária das<br>
                espécies); sólido com estrutura cristalina mais estável nas condições de pressão e temperatura em questão.<br>
                (s) = sólido. (ℓ) = líquido. (g) = gás. (aq) = aquoso. (conc) = concentrado. (ua) = unidades arbitrárias.<br>
                u.m.a. = unidade de massa atômica. [X] = concentração da espécie química X em mol<sup>.</sup>L<sup>-1</sup><br>
                ln X = 2,3 log X<br>
                EPH = eletrodo padrão de hidrogênio<br>
            </p>
            <p>
                <strong>Massas Molares</strong><br>
            </p>
            <table>
                <tr>
                    <td>
                        Elemento <br>
                        Químico
                    </td>
                    <td>
                        Número <br>
                        Atômico
                    </td>
                    <td>
                        Massa Molar <br>
                        (g<sup>.</sup>mol<sup>-1</sup>)
                    </td>
                    <td>
                        Elemento <br>
                        Químico
                    </td>
                    <td>
                        Número <br>
                        Atômico
                    </td>
                    <td>
                        Massa Molar <br>
                        (g<sup>.</sup>mol<sup>-1</sup>)
                    </td>
                </tr>
                <tr>
                    <td>
                        H
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        1,01
                    </td>
                    <td>
                        Cl
                    </td>
                    <td>
                        17
                    </td>
                    <td>
                        35,45
                    </td>
                </tr>
                <tr>
                    <td>
                        B
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        10,81
                    </td>
                    <td>
                        K
                    </td>
                    <td>
                        19
                    </td>
                    <td>
                        39,10
                    </td>
                </tr>
                <tr>
                    <td>
                        C
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        12,01
                    </td>
                    <td>
                        Ca
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        40,08
                    </td>
                </tr>
                <tr>
                    <td>
                        N
                    </td>
                    <td>
                        7
                    </td>
                    <td>
                        14,01
                    </td>
                    <td>
                        Mn
                    </td>
                    <td>
                        25
                    </td>
                    <td>
                        54,94
                    </td>
                </tr>
                <tr>
                    <td>
                        O
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        16,00
                    </td>
                    <td>
                        Br
                    </td>
                    <td>
                        35
                    </td>
                    <td>
                        79,90
                    </td>
                </tr>
                <tr>
                    <td>
                        F
                    </td>
                    <td>
                        9
                    </td>
                    <td>
                        19,00
                    </td>
                    <td>
                        Ag
                    </td>
                    <td>
                        47
                    </td>
                    <td>
                        107,87
                    </td>
                </tr>
                <tr>
                    <td>
                        Na
                    </td>
                    <td>
                        11
                    </td>
                    <td>
                        22,99
                    </td>
                    <td>
                        I
                    </td>
                    <td>
                        53
                    </td>
                    <td>
                        126,90
                    </td>
                </tr>
                <tr>
                    <td>
                        Mg
                    </td>
                    <td>
                        12
                    </td>
                    <td>
                        24,30
                    </td>
                    <td>
                        Hg
                    </td>
                    <td>
                        80
                    </td>
                    <td>
                        200,59
                    </td>
                </tr>
                <tr>
                    <td>
                        P
                    </td>
                    <td>
                        15
                    </td>
                    <td>
                        30,97
                    </td>
                    <td>
                        Pb
                    </td>
                    <td>
                        82
                    </td>
                    <td>
                        207,19
                    </td>
                </tr>
                <tr>
                    <td>
                        S
                    </td>
                    <td>
                        16
                    </td>
                    <td>
                        32,06
                    </td>
                    <td>
                        Pa
                    </td>
                    <td>
                        91
                    </td>
                    <td>
                        231,04
                    </td>
                </tr>
            </table>
          </div>
          <!--texto da questão-->
          <div class="question-text">
            <p>
                <strong>Questão 69.</strong>  Considere a estrutura de Lewis de um tricloreto. São feitas as seguintes afirmações a respeito da estrutura geométrica da molécula e a possível identidade do átomo X:                 
            </p>
            <ol type="I">
                <li>
                    A molécula adota uma estrutura trigonal plana, com ângulo de ligação Cl-X-Cl maior ou igual a 120°.
                </li>
                <li>
                    A molécula adota uma estrutura tetraédrica, com ângulo de ligação Cl-X-Cl maior que 109,5°.
                </li>
                <li>
                    O átomo “X” pode ser o nitrogênio, preservando a geometria molecular. 
                </li>
                <li>
                    O átomo “X” pode ser o boro, preservando a geometria molecular.
                </li>
            </ol>
            <img src="../../Images/Perguntas/EQ7_QA69_I_ITA_2022.png" alt="" width="220px">
            <p>
                Assinale a opção que contém a(s) afirmação(ões) CORRETA(S):
            </p>
            <br>
            <p class="reference">
              Fonte: <a href="https://www.vestibular.ita.br/provas/2022_fase1.pdf">https://www.vestibular.ita.br/provas/2022_fase1.pdf</a>
            </p>
          </div>
          <!--alternativas-->
          <div class="alternatives">
            
                <span>
                    <input type="radio" name="question-69" value="A"> A) Apenas I 
                </span><br>
                <span>
                    <input type="radio" name="question-69" value="B"> B) Apenas I e IV
                </span><br>
                <span>
                    <input type="radio" name="question-69" value="C"> C) Apenas II e III
                </span><br>
                <span>
                    <input type="radio" name="question-69" value="D"> D) Apenas II e IV
                </span><br>
                <span>
                    <input type="radio" name="question-69" value="E"> E) Apenas III 
                </span><br>
            
            
          </div>
          <!--botões ultima, proxima e questões depois-->
          <center>
            <div class="navigation-reducted">
              <a href="Q68_EQ7_ITA.html"><button><</button></a>
              <a href="Q67_EQ7_ITA.html"><button>67</button></a>
              <a href="Q68_EQ7_ITA.html"><button>68</button></a>
              <a href="Q69_EQ7_ITA.html"><button>69</button></a>
              <a href="Q70_EQ7_ITA.html"><button>70</button></a>
              <a href="Q70_EQ7_ITA.html"><button>></button></a>
            </div>
          </center>

          <center>
            <!--botões finalizar e corrigir-->
            <div class="buttons-end-correct">
              <input type="button" class="button-end-correct" value="finalizar" onclick="saveresult()">
              <input type="button" class="button-end-correct" value="corrigir" onclick="testanswer()">
            </div>
          </center>
          
        </div>
      </div>
    </main>

    <footer>
      <div class="footer">
        <p>
          <a href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/" target="_blank">
            Curso de Análise e Desenvolvimento de Sistemas (ADS) Fatec Carapicuíba
          </a>
        </p>

        <div class="gov-links">
          <a Target = "_Blank" Href = "http://www.fateccarapicuiba.edu.br">
            
            <Img Src = "../../Images/Geral/fatec-carapicuiba-logo.png"/>
          </a>
          <a Target = "_Blank" Href = "https://www.saopaulo.sp.gov.br/">
            
            <Img Src = "../../Images/Geral/governo-do-estado-de-sp-logo.png" height="45px" width="80px"/>
          </a>
          <a Target = "_Blank" Href = "https://www.cps.sp.gov.br/">
            
            <Img Src = "../../Images/Geral/cps-logo.png" height="45px" width="80px"/>
          </a>
        </div>
      </div>
    </footer>
    <script src="../../js/menuAni.js"></script>
  </body>
</html>